.top.editor-pane data-separator=:"output-separator"
  .project-pane data-separator=:"editor-separator"
    == partial(:"project-pane")
  .separator.vertical#editor-separator
  svg.editor-icon
    use xlink:href="#{@basepath}images/symbol/dinosaurs.svg#stegosaurus"
  textarea#editor
    | add s1, s1, 1
.separator.horizontal#output-separator
.bottom
  .left
    ol.tabs
      li.tab.active
        button aria-controls=:"assemble-console-panel"
          = I18n.t(:"console.tab")
    ol.tab-panels
      li.tab-panel.output-console.active#assemble-console-panel
        template.process
          li.output-process data-status="pending"
            .status-symbol
              .dot
              .dot
              .dot
              svg.done
                use xlink:href="#{@basepath}images/symbol/ui.svg#done"
              svg.failed
                use xlink:href="#{@basepath}images/symbol/ui.svg#failed"
            h1.output-process-title.expanded
              span.description
              span.filename
            ol.output-process-steps
            pre.output-process-stdout
        template.step
          li.output-process-step data-status="pending"
            .status-symbol
              .dot
              .dot
              .dot
              svg.done
                use xlink:href="#{@basepath}images/symbol/ui.svg#done"
              svg.failed
                use xlink:href="#{@basepath}images/symbol/ui.svg#failed"
            h2.output-process-step-title.expanded
              span.description
              span.output-filename
            pre.output-process-step-stdout

        ol.output-processes
