/ These are always there that are for RAWRS itself
- topics = ["about", "usage"]

/ The tab strip
ol.tabs
  - tabCount = 0
  - topics.each_with_index do |topic, i|
    li.tab class=(topic == guidance.to_s ? "active" : "")
      a.ajax href="#{@basepath}guidance/#{topic}_ajax" hidden=true aria-hidden="true"
      a href="#{@basepath}guidance/#{topic}" hidden=true aria-hidden="true"
      button aria-controls="guidance-panel-#{i}"
        = I18n.t(:"guidance.#{topic}.tab")
    - tabCount += 1

  / Render every single target group and then every tab within
  - targets.each do |info|
    / Look for an entry in that target's directory to render it
    - guidance_pages_for(info[:tag]).each_with_index do |topic, i|
      li.tab data-target=info[:tag] class=((topic == guidance.to_s && target == info[:tag] ? "active" : "") + (i == 0 ? " group" : ""))
        a.ajax href="#{@basepath}guidance/#{info[:tag]}/#{topic}_ajax" hidden=true aria-hidden="true"
        a href="#{@basepath}guidance/#{info[:tag]}/#{topic}" hidden=true aria-hidden="true"
        button aria-controls="guidance-panel-#{info[:tag]}-#{i}"
          = I18n.t(:"targets.#{info[:tag]}.guidance.#{topic}.tab")
      - tabCount += 1

/ The tab panels that actually display the content
ol.tab-panels
  - tabCount = 0
  - topics.each_with_index do |topic, i|
    li.tab-panel class=(topic == guidance.to_s ? "active" : "") id="guidance-panel-#{i}" data-pjax=(topic == guidance.to_s ? false : "#{@basepath}guidance/#{topic}_ajax")
      - if topic == guidance.to_s
        .content.documentation
          == render_guidance(topic.intern, nil, false)
    - tabCount += 1

  / Render every single target group
  - targets.each do |info|
    - guidance_pages_for(info[:tag]).each_with_index do |topic, i|
      - active = topic == guidance.to_s && target == info[:tag]
      li.tab-panel class=((active ? "active" : "") + (i == 0 ? " group" : "")) id="guidance-panel-#{info[:tag]}-#{i}" data-pjax=(active ? false : "#{@basepath}guidance/#{info[:tag]}/#{topic}_ajax")
        - if topic == guidance.to_s
          .content.documentation
            == render_guidance(topic.intern, info[:tag], false)
      - tabCount += 1
