link rel='stylesheet' type='text/css' href='#{@basepath}css/fonts.css' 
link rel='stylesheet' type='text/css' href='#{@basepath}css/main.css' 
link rel='stylesheet' type='text/css' href='#{@basepath}css/docs.css' 
link rel='stylesheet' type='text/css' href='#{@basepath}css/xterm.css' 
link rel='stylesheet' type='text/css' href='#{@basepath}css/highlight.css' 

link rel='icon'       sizes='16x16'   href='#{@basepath}images/icon_16x16.png' 
link rel='icon'       sizes='32x32'   href='#{@basepath}images/icon_32x32.png' 
link rel='icon'       sizes='48x48'   href='#{@basepath}images/icon_48x48.png' 
link rel='icon'       sizes='64x64'   href='#{@basepath}images/icon_64x64.png' 

/ Link every target example file listing so it will be packaged in static builds
- [:riscv64, :msdos].each do |target|
  link rel='rawrs-target-examples' href='#{@basepath}files/#{target}'

meta name="viewport" content="width=device-width, initial-scale=1" 
meta name="mobile-web-app-capable" content="yes" 
meta charset="utf-8" 
