.target-selection
  label
    | target
  select.target-selector
  /button.details
    svg
      use xlink:href="#{@basepath}images/symbol/ui.svg#details"
ol
  svg.annotation-error hidden=true
    use xlink:href="#{@basepath}images/symbol/ui.svg#error"
  template.directory
    li.directory
      span.info
        svg.group
          use xlink:href="#{@basepath}images/symbol/ui.svg#group"
        span.name
        input.rename-file type=:text value="new-file" style="display:none;"
        button.actions
          svg
            use xlink:href="#{@basepath}images/symbol/ui.svg#actions"
        ul.dropdown-menu role=:menu aria-hidden="true" hidden=true
          li.dropdown-menu-option
            button.action data-action=:newfile role=:menuitem
              | New File
          li.dropdown-menu-option
            button.action data-action=:rename role=:menuitem
              | Rename
          li.dropdown-menu-option
            button.action data-action=:clone role=:menuitem
              | Copy
          li.dropdown-menu-option
            button.action data-action=:delete role=:menuitem
              | Delete
          li.dropdown-menu-option
            button.action data-action=:downloadzip role=:menuitem
              | Download ZIP
          li.dropdown-menu-option
            button.action data-action=:upload role=:menuitem
              | Upload Files
      ol
      p.empty
        | Empty
  template.file
    li.file data-selectable=true
      span.info
        svg.file.text
          use xlink:href="#{@basepath}images/symbol/ui.svg#text"
        span.name
        input.rename-file type=:text value="new-file" style="display:none;"
        button.actions
          svg
            use xlink:href="#{@basepath}images/symbol/ui.svg#actions"
        ul.dropdown-menu role=:menu aria-hidden="true" hidden=true
          li.dropdown-menu-option
            button.action data-action=:rename role=:menuitem
              | Rename
          li.dropdown-menu-option
            button.action data-action=:clone role=:menuitem
              | Copy
          li.dropdown-menu-option
            button.action data-action=:delete role=:menuitem
              | Delete
          li.dropdown-menu-option
            button.action data-action=:download role=:menuitem
              | Download
  -# Render all files in assets/files
  li.directory.root data-path=Base64.encode64("/").strip data-type=:directory
    span.info
      svg.group
        use xlink:href="#{@basepath}images/symbol/ui.svg#group"
      span.name
        | My Projects
    ol
      li.action data-action=:"new-project"
        span.info
          button
            span.name
              | New Project
      li.directory.new hidden=true
        span.info
          svg.group
            use xlink:href="#{@basepath}images/symbol/ui.svg#group"
          input type=:text value="my-project"
