- if !defined?(filter)
  - filter = ["*"]

- if !defined?(suppress)
  - suppress = false

- filter = filter.map do |match|
  - "#{path}/#{match}"

/ Print the sorted list of files/directories with directories first
- (Dir[*filter]).sort{ |a, b| "#{File.directory?(a) ? '0' : '1'}#{File.basename(a)}" <=> "#{File.directory?(b) ? '0' : '1'}#{File.basename(b)}" }.each do |f|
  - if File.directory?(f)
    li.directory.project.built-in data-path=Base64.strict_encode64(File.join(root, File.basename(f))).strip data-type=:directory
      span.info
        svg.group
          use xlink:href="#{@basepath}images/symbol/ui.svg#group"
        span.name
          = f[(path.length+1)..-1]
        - if !suppress
          button.actions
            svg
              use xlink:href="#{@basepath}images/symbol/ui.svg#actions"
          - id = File.join(root, File.basename(f)).gsub("/", "-")
          ul.dropdown-menu role=:menu id=id aria-hidden="true" hidden=true
            li.dropdown-menu-option
              button.action data-action=:clone role=:menuitem
                | Copy to My Files
      ol
        == partial(:"project-pane-directory", :locals => { :path => f, :root => File.join(root, File.basename(f)) })
  - else
    li.file.built-in data-url=Base64.strict_encode64(File.join(root, File.basename(f))).strip data-selectable=true data-type=:file data-path=Base64.strict_encode64(File.join(root, File.basename(f))).strip
      span.info
        svg.file.text
          use xlink:href="#{@basepath}images/symbol/ui.svg#text"
        span.name
          = f[(path.length+1)..-1]
        - id = File.join(root, File.basename(f)).gsub("/", "-")
        button.actions aria-expanded="false" aria-haspopup="true" aria-controls="dropdown-#{id}"
          svg
            use xlink:href="#{@basepath}images/symbol/ui.svg#actions"
        ul.dropdown-menu role=:menu id=id aria-hidden="true" hidden=true
          li.dropdown-menu-option
            button.action data-action=:clone role=:menuitem
              | Copy to My Files
