.top data-separator=:"bottom-separator"
  div.run-panels.container
    svg.background.tracks
      defs
        pattern#outer-tracks x="0" y="0" width="150" height="150" patternUnits="userSpaceOnUse"
          use xlink:href="#{@basepath}images/symbol/ui.svg#tracks" width="150" height="150"
      rect width="100%" height="100%" fill="url(#outer-tracks)"
    template.output-tab
      li.tab
        button aria-controls=:"console"
          span.caption
            = I18n.t(:"run.panels.serial")

    template.output-panel
      li.tab-panel
        div.output-container
          svg.background.tracks
            defs
              pattern#inner-tracks x="0" y="0" width="150" height="150" patternUnits="userSpaceOnUse"
                use xlink:href="#{@basepath}images/symbol/ui.svg#tracks" width="150" height="150"
            rect width="100%" height="100%" fill="url(#inner-tracks)"
          div.output
          div.disconnected hidden=true
            img src="#{@basepath}images/disconnected.svg"

    / The output panel tab strip
    ol.tabs.side

    / The output panels
    ol.tab-panels.side
      li.tab-panel.empty.active
        div.output-container

  .separator.vertical#register-separator

  .register-file data-separator=:"register-separator,label-separator"
    ol.tabs
    ol.tab-panels

    / The tab for a category of registers
    / The RegisterListing component will clone this for each category
    template.register-tab
      li.tab
        button aria-controls=:"register-file"
          = I18n.t(:"run.registers.tab")

    / The tab panel for a category of registers
    / The RegisterListing component will clone this for each category
    template.register-tab-panel
      li.tab-panel style="padding-top: 0;"
        / The actual register table for this category
        table.registers
          tbody

    / The field for an integer register
    / The RegisterListing will add this `tr` for each register
    template.int-register
      tr.register
        td.name
        td.value
          button
        td.edit hidden=true
          input.input type=:text

    / The field for a floating-point register
    / The RegisterListing will add this `tr` for each register
    template.fp-register
      tr.register
        td.name
        td.type
          | x
        td.value
          button
        td.edit hidden=true
          input.input type=:text
        td.actions
          button.actions
            svg
              use xlink:href="#{@basepath}images/symbol/ui.svg#actions"
          /- id = "fp-register-#{register_name}-actions"
          / TODO: localize
          ul.dropdown-menu role=:menu aria-hidden="true" hidden=true
            li.dropdown-menu-option
              button.action disabled=true data-action=:"as-hex" role=:menuitem
                | View as hexadecimal
            li.dropdown-menu-option
              button.action data-action=:"as-float" role=:menuitem
                | View as 32-bit float
            li.dropdown-menu-option
              button.action data-action=:"as-double" role=:menuitem
                | View as 64-bit double
            li.dropdown-menu-option
              button.action data-action=:explore role=:menuitem
                | Explore representation

.separator.horizontal#bottom-separator

.bottom
  .left
    ol.tabs
      li.tab
        button aria-controls=:"run-console-panel"
          = I18n.t(:"console.tab")
      li.tab.active
        button aria-controls=:"machine-code-panel"
          = I18n.t(:"run.machine-code.tab")
      li.tab
        button aria-controls=:"memory-panel"
          = I18n.t(:"run.memory.tab")
    ol.tab-panels
      li.tab-panel.output-console#run-console-panel
      li.tab-panel.active#machine-code-panel
        table.instructions.empty
          thead
            th
              / TODO: allow, but hide, so screenreaders can read it
              -#= I18n.t(:"run.machine-code.headers.breakpoint")
            th
              = I18n.t(:"run.machine-code.headers.address")
            th
              = I18n.t(:"run.machine-code.headers.code")
            th
              = I18n.t(:"run.machine-code.headers.disassembly")
            th
              = I18n.t(:"run.machine-code.headers.file")
            th
              = I18n.t(:"run.machine-code.headers.line")
            th
              = I18n.t(:"run.machine-code.headers.source")
          tbody

        svg.waiting
          use xlink:href="#{@basepath}images/symbol/dinosaurs.svg#velociraptor"
      li.tab-panel#memory-panel
        table.memory.empty
          thead
            th
              = I18n.t(:"run.memory.headers.address")
            th
              = I18n.t(:"run.memory.headers.value") + " (+0)"
            th
              = I18n.t(:"run.memory.headers.value") + " (+4)"
            th
              = I18n.t(:"run.memory.headers.value") + " (+8)"
            th
              = I18n.t(:"run.memory.headers.value") + " (+12)"
            th
              = I18n.t(:"run.memory.headers.value") + " (+16)"
            th
              = I18n.t(:"run.memory.headers.value") + " (+20)"
            th
              = I18n.t(:"run.memory.headers.value") + " (+24)"
            th
              = I18n.t(:"run.memory.headers.value") + " (+28)"
            th
              = I18n.t(:"run.memory.headers.printed")
          tbody

        svg.waiting
          use xlink:href="#{@basepath}images/symbol/dinosaurs.svg#tyrannosaurus"

  .separator.vertical#label-separator

  .right data-separator=:"register-separator,label-separator"
    ol.tabs
      li.tab.active
        button aria-controls=:"labels-panel"
          = I18n.t(:"run.labels.tab")
    ol.tab-panels
      li.tab-panel.active#labels-panel
        table.labels.empty
          thead
            th
              = I18n.t(:"run.labels.headers.name")
            th
              = I18n.t(:"run.labels.headers.address")
          tbody

        svg.waiting
          use xlink:href="#{@basepath}images/symbol/dinosaurs.svg#elasmosaurus"
