script src="#{@basepath}js/electron.js" 
script src="#{@basepath}js/ace-builds/src-noconflict/ace.js"
script src="#{@basepath}js/ace-builds/src-noconflict/ext-modelist.js"
script src="#{@basepath}js/ace-builds/src-noconflict/ext-language_tools.js"
script src="#{@basepath}js/compiled-xterm.js" 
script src="#{@basepath}js/compiled-rawrs.js" 
