ol.toolbar
  li
    button#assemble title=I18n.t(:"tooltips.toolbar-buttons.assemble")
      svg.assemble role=:presentation
        use xlink:href="#{@basepath}images/symbol/toolbar.svg#assemble"
  li
    button#run title=I18n.t(:"tooltips.toolbar-buttons.run")
      svg.play role=:presentation
        use xlink:href="#{@basepath}images/symbol/toolbar.svg#play"
      svg.restart role=:presentation
        use xlink:href="#{@basepath}images/symbol/toolbar.svg#restart"
  li
    button#step disabled=true data-status="disabled" title=I18n.t(:"tooltips.toolbar-buttons.pause") data-i18n-pause=I18n.t(:"tooltips.toolbar-buttons.pause") data-i18n-step=I18n.t(:"tooltips.toolbar-buttons.step")
      svg.pause role=:presentation
        use xlink:href="#{@basepath}images/symbol/toolbar.svg#pause"
      svg.step role=:presentation
        use xlink:href="#{@basepath}images/symbol/toolbar.svg#step"
