doctype html
html lang="en-US"
  head
    link rel='icon'       sizes='16x16'   href='#{@basepath}images/icon_16x16.png'
    link rel='icon'       sizes='32x32'   href='#{@basepath}images/icon_32x32.png'
    link rel='icon'       sizes='48x48'   href='#{@basepath}images/icon_48x48.png'
    link rel='icon'       sizes='64x64'   href='#{@basepath}images/icon_64x64.png'
    link rel='stylesheet' type='text/css' href='#{@basepath}css/landing.css'
    title
      | RAWRS - #{I18n.t(:title)}
  body
    a.button.try-it-out href="#{(@basepath.nil? || @basepath == "") ? "/" : @basepath}" role=:button tabindex="1" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
      == I18n.t(:"landing.started.try-it-out")
      == embed_svg("landing/cursor.svg")

    .logo
      .logo-container
        .logo-border
        == embed_svg("images/logo_icon.svg", :viewBox => "0 0 255 255")

    h1
      span.acronym
        | RAWRS
      span.title
        == I18n.t(:title)

    h2
      span.title
        == I18n.t(:"landing.downloads.header")

    .content
      == render(:markdown, I18n.t(:"landing.downloads.content"), :layout => false)

      h3
        span.subtitle
          | Static Website

      ul.links
        li.link
          a.button.learn-more href="#" role=:button tabindex="2" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
            == I18n.t(:"landing.downloads.core")
        li.link
          a.button.education href="#" role=:button tabindex="3" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
            == I18n.t(:"landing.downloads.all")

      h3
        span.subtitle
          | Portable Offline Application (electron)

      ul.links
        li.link
          a.button.learn-more href="#" role=:button tabindex="2" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
            | Core (Windows)
        li.link
          a.button.education href="#" role=:button tabindex="3" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
            | Entire Package (Windows)

    h2
      span.title
        == I18n.t(:"landing.targets.header")

    .content
      == render(:markdown, I18n.t(:"landing.targets.content"), :layout => false)

      h3
        span.subtitle
          == I18n.t(:"landing.downloads.subheaders.modern")

      ul.links
        - tabIndex = 4
        - [:riscv64, :"riscv64-linux", :riscv32, :"riscv32-linux"].each do |tag|
          li.link
            a.button.target href="#" role=:button tabindex=tabIndex.to_s onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
              == I18n.t(:"landing.targets.#{tag}")
          - tabIndex += 1

      h3
        span.subtitle
          == I18n.t(:"landing.downloads.subheaders.historic")

      ul.links
        - tabIndex = 4
        - [:"x86-msdos"].each do |tag|
          li.link
            a.button.target href="#" role=:button tabindex=tabIndex.to_s onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
              == I18n.t(:"landing.targets.#{tag}")
          - tabIndex += 1

      h3
        span.subtitle
          == I18n.t(:"landing.downloads.subheaders.video-games")

      ul.links
        - [:"z80-gb", :"65816-snes"].each do |tag|
          li.link
            a.button.target href="#" role=:button tabindex=tabIndex.to_s onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
              == I18n.t(:"landing.targets.#{tag}")
          - tabIndex += 1

      /h3
        span.subtitle
          == I18n.t(:"landing.downloads.subheaders.esoteric")

      /ul.links
        - [:"uxn"].each do |tag|
          li.link
            a.button.target href="#" role=:button tabindex=tabIndex.to_s onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
              == I18n.t(:"landing.targets.#{tag}")
          - tabIndex += 1

    footer
      == render(:markdown, I18n.t(:"landing.footer", :locale => :en), :layout => false)
