doctype html
html lang="en-US"
  head
    == partial(:head)
    title
      | RAWRS
  body data-basepath=@basepath
    - if !defined?(tab)
      - tab = :edit
    ol.tabs#main-tabs
      li.tab class=(tab == :edit ? "active" : false)
        a href="#{@basepath}edit" hidden=true aria-hidden="true"
        button aria-controls=:"assemble-panel" data-i18n-key=:"edit.tab"
          = I18n.t(:"edit.tab")
      li.tab class=(tab == :run ? "active" : false)
        a href="#{@basepath}run" hidden=true aria-hidden="true"
        button aria-controls=:"run-panel" data-i18n-key=:"run.tab"
          = I18n.t(:"run.tab")
      li.tab class=(tab == :guidance ? "active" : false)
        a href="#{@basepath}guidance/about" hidden=true aria-hidden="true"
        button aria-controls=:"guidance-panel" data-i18n-key=:"guidance.tab"
          = I18n.t(:"guidance.tab")
    ol.tab-panels
      li.tab-panel#assemble-panel class=(tab == :edit ? "active" : false)
        == partial(:"assemble-panel")
      li.tab-panel#run-panel class=(tab == :run ? "active" : false)
        == partial(:"run-panel")
      li.tab-panel#guidance-panel class=(tab == :guidance ? "active" : false)
        - if !defined?(guidance)
          - guidance = "about"
        - if !defined?(target)
          - target = nil
        == partial(:"guidance-panel", :locals => {:guidance => guidance,
                                                  :target => target})
    == partial(:toolbar)
    == partial(:dialogs)
    == partial(:scripts)
