doctype html
html lang="en-US"
  head
    link rel='icon'       sizes='16x16'   href='#{@basepath}images/icon_16x16.png' 
    link rel='icon'       sizes='32x32'   href='#{@basepath}images/icon_32x32.png' 
    link rel='icon'       sizes='48x48'   href='#{@basepath}images/icon_48x48.png' 
    link rel='icon'       sizes='64x64'   href='#{@basepath}images/icon_64x64.png' 
    link rel='stylesheet' type='text/css' href='#{@basepath}css/landing.css' 
    title
      | RAWRS - #{I18n.t(:title)}
  body
    a.button.try-it-out href="#{(@basepath.nil? || @basepath == "") ? "/" : @basepath}" role=:button tabindex="1" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
      == I18n.t(:"landing.started.try-it-out")
      == embed_svg("landing/cursor.svg")

    .logo
      .logo-container
        .logo-border
        == embed_svg("images/logo_icon.svg", :viewBox => "0 0 255 255")

    h1
      span.acronym
        | RAWRS
      span.title
        == I18n.t(:title)

    h2
      span.title
        == I18n.t(:"landing.overview.header")

    .content
      == render(:markdown, I18n.t(:"landing.overview.content"), :layout => false)

    h2
      span.title
        == I18n.t(:"landing.features.header")

    .content
      == render(:markdown, I18n.t(:"landing.features.content"), :layout => false)

      ul.links
        li.link
          a.button.learn-more href="#{@basepath}learn-more" role=:button tabindex="2" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
            == I18n.t(:"landing.features.learn-more")
        li.link
          a.button.education href="#{@basepath}education" role=:button tabindex="3" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
            == I18n.t(:"landing.features.education")

    h2
      span.title
        == I18n.t(:"landing.started.header")

    .content
      == render(:markdown, I18n.t(:"landing.started.content"), :layout => false)

      ul.links
        li.link
          a.button.try-it-out href="#{(@basepath.nil? || @basepath == "") ? "/" : @basepath}" role=:button tabindex="4" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
            == I18n.t(:"landing.started.try-it-out")
        li.link
          a.button.downloads href="#{@basepath}downloads" role=:button tabindex="5" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
            == I18n.t(:"landing.started.downloads")

    h2
      span.title
        == I18n.t(:"landing.screenshots.header")

    .content
      ul.screenshots
        - Dir["assets/landing/*.png"].sort.each do |path|
          li.screenshot
            .image
              img src="#{@basepath}landing/#{File.basename(path)}"
            p
              | This is the caption for the screenshot. It explains what is cool about it.

    /h2
      == I18n.t(:"landing.credits")

    footer
      == render(:markdown, I18n.t(:"landing.footer", :locale => :en), :layout => false)
