dialog.dialog#dialog-copy-file role=:dialog
  h1.title
    span.caption
      | Copy Files
    button.close
      | Close
  .client
    h2
      | Copy to
    .file-list
      ol
        template.directory
          li.directory data-selectable=true
            span.info
              svg.group
                use xlink:href="#{@basepath}images/symbol/ui.svg#group"
              span.name
            ol
            p.empty
              | Empty
        template.file
          li.file disabled=true
            span.info
              svg.file.text
                use xlink:href="#{@basepath}images/symbol/ui.svg#text"
              span.name
        li.directory.root data-selectable=true data-path=Base64.encode64("/") data-type=:directory
          span.info
            svg.group
              use xlink:href="#{@basepath}images/symbol/ui.svg#group"
            span.name
              | My Projects
          ol
    button.button#button-complete-copy disabled=true
      | Copy
    button.button.red#button-cancel-copy
      | Cancel
