dialog.dialog#dialog-new-file role=:dialog
  h1.title
    span.caption
      | New File
    button.close tabindex=99
      | Close
  .client
    h2
      | Name
    form
      input#dialog-new-file-name type=:text name=:name tabindex=1 autofocus=true
      input.button#button-create-new-file tabindex=2 type=:submit value="Create"
      button.button.red#button-cancel-create tabindex=3
        | Cancel
