dialog.dialog#dialog-target-viewer role=:dialog
  h1.title
    span.caption
      | Target Viewer
    button.close
      | Close
  .client
    .target-carousel
      ul.target-carousel-items
    li.target.original data-target="65816-snes" hidden=true
      img data-src="#{@basepath}images/targets/65816-snes/main.png"
    li.target.original data-target="mips-n64" hidden=true
      img data-src="#{@basepath}images/targets/mips-n64/main.png"
    li.target.original data-target="z80-gb" hidden=true
      img data-src="#{@basepath}images/targets/z80-gb/main.png"
    li.target.original data-target="x86-msdos" hidden=true
      img data-src="#{@basepath}images/targets/x86-msdos/main.png"
    h3.target.description.original hidden=true
      svg.icon
        use xlink:href="#{@basepath}images/symbol/ui.svg#group"
      span.caption
        | Description

    p.target.description.original hidden=true
      | Woo

    h3.cpu.original hidden=true
      svg.icon
        use xlink:href="#{@basepath}images/symbol/ui.svg#group"
      span.caption
        | CPU

    h4.cpu.description.original hidden=true
      span.caption
        | Description

    p.cpu.description.original hidden=true
      | Woo

    table.cpu.original hidden=true
      tr
        th width="1"
          | Type
        td data-field=:type
          | x86
        th width="1"
          | Clock Speed
        td data-field=:clock
          | 6 MHz
      tr
        th width="1"
          | Class
        td data-field=:class
          | 80186
        th width="1"
          | Subclass
        td data-field=:subclass
      tr
        th width="1"
          | Operand Size
        td data-field=:alu
          | 16-bit
        th width="1"
          | Addressing Size
        td data-field=:mmu
          | 16-bit
      tr
        th width="1"
          | Manufacturer
        td data-field=:manufacturer
          | Intel
        th width="1"
          | Year Introduced
        td data-field=:year
          | 1978

    h3.memory.original hidden=true
      svg.icon
        use xlink:href="#{@basepath}images/symbol/ui.svg#group"
      span.caption
        | Memory

    h3.gpu.original hidden=true
      svg.icon
        use xlink:href="#{@basepath}images/symbol/ui.svg#group"
      span.caption
        | Video

    h4.gpu.description.original hidden=true
      span.caption
        | Description

    p.gpu.description.original hidden=true
      | Woo

    table.gpu.original hidden=true
      tr
        th width="1"
          | Type
        td data-field=:type
        th width="1"
          | Class
        td data-field=:class
      tr
        th width="1"
          | Manufacturer
        td data-field=:manufacturer
        th width="1"
          | Clock Speed
        td data-field=:clock
      tr
        th width="1"
          | Operand Size
        td data-field=:alu
        th width="1"
          | Addressing Size
        td data-field=:mmu

    h4.gpu.mode.original hidden=true
      span.caption
        | Modes

    table.gpu.mode.original hidden=true
      tr
        th
          | Type
        td data-field=:type
      tr
        th width="1"
          | Width
        td data-field=:width
        th width="1"
          | Height
        td data-field=:height
      tr
        th width="1"
          | Color Depth
        td data-field=:depth
        th width="1"
          | Color Space
        td data-field=:space

    h3.apu.original hidden=true
      svg.icon
        use xlink:href="#{@basepath}images/symbol/ui.svg#group"
      span.caption
        | Audio

    h4.apu.description.original hidden=true
      span.caption
        | Description

    p.apu.description.original hidden=true
      | Woo

    table.apu.original hidden=true
      tr
        th width="1"
          | Type
        td data-field=:type
          | AdLib
      tr
        th width="1"
          | Class
        td data-field=:class
          | OPL2
        th width="1"
          | Subclass
        td data-field=:subclass
          | YM3812
      tr
        th width="1"
          | Manufacturer
        td data-field=:manufacturer
          | Yamaha

    h4.apu.mode.original hidden=true
      span.caption
        | Modes

    table.apu.mode.original hidden=true
      tr
        th
          | Type
        td data-field=:type
          | FM Synthesis
        th width="1"
          | Channels
        td data-field=:depth
          | 1
      tr
        th width="1"
          | Sample Rate
        td data-field=:width
          | 44000 kHZ
        th width="1"
          | Sample Size
        td data-field=:height
          | 8-bit
      tr
        th width="1"
          | Voices
        td data-field=:voices
          | 11

    button.left
    button.right
    h2.target
      span.caption
        | Super Nintendo
    .target-details

    button.button#button-select-target disabled=true
      | Select
    button.button.red#button-cancel-target
      | Cancel
