dialog.dialog#dialog-upload-files role=:dialog
  h1.title
    span.caption
      | Upload Files
    button.close
      | Close
  .client
    input#input-choose-files type=:file multiple=true
    .upload-zone
      table.drop-preview-table
        thead
          tr.drop-preview-header
            th.header-file-name
              | Name
            th.header-file-size
              | Size
        tbody.drop-previews
      label.drop-area for="input-choose-files" aria-label="Select to upload your files" role="button"
        .drop-area-header role=:presentation aria-hidden=:true
          | Drag & Drop
        .drop-area-caption role=:presentation aria-hidden=:true
          | Any files accepted. Click to browse.
        span.preview-message hidden=true aria-hidden=:true
          | Browse Additional Files
    button.button#button-complete-upload disabled=true
      | Upload
    button.button.red#button-cancel-upload
      | Cancel
