$logobgcolor: #c84ea9;
$logofgcolor: white;
$logomgcolor: #842f6f;
$logobgcolor2: #5c5dca;
$logofgcolor2: #f1efff;
$accentbgcolor: #fb64d5;
$accentfgcolor: white;

$bgcolor1: #9f3a86;
$bgcolor1: #842f6f;
$fgcolor1: white;
$accentbgcolor1: #fb64d5;
$accentfgcolor1: white;
$headercolor1: #ffc1ed;

$bgcolor2: #efefef;
$fgcolor2: #555;
$accentbgcolor2: #46b1e4;
$accentfgcolor2: white;
$headercolor2: #6263e0;

$fullwidth: 50rem;

// "Tooth" wave adapter from http://jsfiddle.net/861gjx0b/2/
$tooth: 3rem;

/* 4k support */
@media (min-width: 2561px) {
    /* If we did our job, this is all we need to scale everything! */
    body, html {
        font-size: 24px;
    }
}

@media (max-device-width: 950px) {
    body, html {
        font-size: 36px;
    }
}

html {
  margin: 0;
  padding: 0;
  width: 100%;

  body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: $logobgcolor;
    position: relative;

    > a.button.try-it-out {
      position: absolute;
      z-index: 99;
      top: 2rem;
      right: 2rem;
      width: 13rem;
      height: 2.5rem;
      border: 0.125rem solid white;
      border-radius: 0.125rem;
      background: none;
      color: white;
      cursor: pointer;
      font: bold 1.25rem/1.25rem Tahoma, Arial, Verdana, Helvetica, sans-serif;
      vertical-align: middle;
      text-align: center;
      line-height: 2.5rem;
      text-decoration: none;
      box-shadow: 0 0 0.25rem 0 $logomgcolor;

      &.clicked,
      &:active,
      &:focus,
      &:hover {
        background-color: $accentbgcolor;
        color: $accentfgcolor;
        text-shadow: 0 0 0.25rem $logomgcolor;
        box-shadow: inset 0 0 0.125rem $logobgcolor;
      }

      svg {
        position: absolute;
        top: 2rem;
        right: 0.5rem;
        width: 1.25rem;
        height: 1.75rem;
        filter: drop-shadow(0 0 0.125rem $logomgcolor);
        
        rect, circle, path {
          fill: white !important;
        }
      }
    }

    .logo {
      max-width: 60rem;
      background: $logobgcolor;
      padding: 2rem;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      color: $logofgcolor;

      .logo-container {
        position: relative;
        height: 15rem;

        .logo-border {
          border-radius: 50%;
          width: 13rem;
          height: 13rem;
          border: 1rem solid $logofgcolor;
          position: absolute;
          left: calc(50% - 17.5rem);
          top: -0.5rem;
          clip-path: polygon(20% 31%, 0 22%, 26% 1%, 28% 20%, 44% 13%, 33% 0, 63% 0, 56% 11%, 74% 18%, 70% 0, 100% 17%, 100% 100%, 0 100%, 0 34%, 13% 49%);
        }

        svg {
          position: absolute;
          width: 14rem;
          height: 14rem;
          left: calc(50% - 18.875rem);
          top: -1.875rem;
          transform: rotate(10deg);
          z-index: 9;
          display: inline-block;
          filter: drop-shadow(0 0 0.125rem $logomgcolor);

          rect, circle, path {
            fill: $logobgcolor2 !important;
            stroke: $logofgcolor2 !important;
            stroke-width: 0.125rem !important;
          }
        }
      }
    }

    @media (max-device-width: 950px), (max-width: 950px) {
      > a.button.try-it-out {
        top: 2rem;
        height: 2rem;
        line-height: 2rem;
        font-size: 1.0rem;
        width: 11rem;

        svg {
          top: 1.375rem;
          right: 0.25rem;
        }
      }

      .logo {
        .logo-container {
          height: 10rem;

          .logo-border {
            width: 10rem;
            height: 10rem;
            border-width: 0.75rem;
            left: calc(50% - 11.5rem);
          }

          svg {
            width: 11rem;
            height: 11rem;
            left: calc(50% - 12.75rem);
            top: -1.75rem;
          }
        }
      }
    }

    @media (max-device-width: 630px), (max-width: 630px) {
      > a.button.try-it-out {
        width: 6rem;
        right: 2rem;
        top: 1.25rem;
        right: 1.25rem;
        font-size: 0.875rem;
      }

      .logo {
        padding-top: 2rem;

        .logo-container {
          height: 5rem;

          .logo-border {
            width: 7rem;
            height: 7rem;
            border-width: 0.5rem;
            left: calc(50% - 7.5rem);
          }

          svg {
            width: 7.5rem;
            height: 7.5rem;
            left: calc(50% - 8.25rem);
            top: -1.25rem;
          }
        }
      }
    }

    h1 {
      text-align: center;
      font: bold 2.0rem/2.0rem Tahoma, Arial, Verdana, Helvetica, sans-serif;
      position: relative;
      margin: 0;
      margin-top: -13rem;

      span.acronym {
        background: $logobgcolor;
        color: $logomgcolor;
        margin-left: 12rem;
        display: inline-block;
        font-size: 6rem;
        height: 6rem;
        line-height: 5.75rem;
        position: relative;
        text-shadow: 0 0 0.25rem $logomgcolor;
        -webkit-text-stroke: 0.125rem #fff;
      }

      span.title {
        background: $logobgcolor;
        display: block;
        margin-top: 6rem;
        padding-bottom: 1rem;
        color: $logofgcolor;
        padding-left: 1rem;
        padding-right: 1rem;
        text-shadow: 0 0 0.25rem $logomgcolor;
      }

      &::after {
        content: "";
        position: absolute;
        display: block;
        height: $tooth;
        bottom: calc((#{$tooth} * -0.875) + 0.0625rem);
        left: 0;
        right: 0;
        background: linear-gradient( 45deg, transparent 33.333%, $logobgcolor 33.333%, $logobgcolor 66.667%, transparent 66.667%), linear-gradient( -45deg, transparent 33.333%, $logobgcolor 33.333%, $logobgcolor 66.667%, transparent 66.667%);

        background-size: $tooth calc(#{$tooth} * 2);
        /* toothSize doubleHeight */

        background-position: 0 calc(#{$tooth} * -1);
        /* horizontalOffset -height */

        z-index: 9;
      }

      @media (max-device-width: 950px), (max-width: 950px) {
        margin-top: -9rem;
        font-size: 1.5rem;
        line-height: 1.5rem;

        span.acronym {
          margin-left: 10rem;
          display: inline-block;
          font-size: 4rem;
          height: 4rem;
          line-height: 3.75rem;
          position: relative;
          -webkit-text-stroke: 0.0625rem #fff;
        }

        span.title {
          margin-top: 5.5rem;
        }
      }

      @media (max-device-width: 630px), (max-width: 630px) {
        margin-top: -4.5rem;
        font-size: 1.5rem;
        line-height: 1.5rem;

        span.acronym {
          margin-left: 8.5rem;
          display: inline-block;
          font-size: 3rem;
          height: 3rem;
          line-height: 2.75rem;
          vertical-align: middle;
          position: relative;
          -webkit-text-stroke: 0.0625rem #fff;
        }

        span.title {
          margin-top: 3rem;
          padding-bottom: 0;
          z-index: 99;
          position: relative;
          line-height: 2rem;
        }
      }
    }

    h2 {
      box-sizing: border-box;
      background: white;
      padding: 2rem;
      padding-top: 4rem;
      padding-bottom: 0;
      margin: 0;
      font: bold 2.0rem/2.0rem Tahoma, Arial, Verdana, Helvetica, sans-serif;
      background: $bgcolor2;
      color: $headercolor2;
      position: relative;

      span.title {
        padding-bottom: 0.5rem;
        border-bottom: 0.125rem dotted $fgcolor2;
        max-width: 100%;
        width: $fullwidth;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }

      & + p {
        padding-top: 2rem;
      }

      &:nth-of-type(2n) {
        background: $bgcolor1;
        color: $headercolor1;

        span.title {
          border-bottom-color: $fgcolor1;
        }
      }
    }

    h3 {
      box-sizing: border-box;
      padding: 2rem;
      padding-top: 4rem;
      padding-bottom: 0;
      margin: 0;
      font: bold 1.5rem/1.5rem Tahoma, Arial, Verdana, Helvetica, sans-serif;
      color: $headercolor2;
      position: relative;

      span.subtitle {
        padding-bottom: 0.5rem;
        border-bottom: 0.125rem dotted $fgcolor2;
        max-width: 100%;
        width: $fullwidth;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }

      & + p {
        padding-top: 2rem;
      }
    }

    .content {
      position: relative;
      margin: 0;
      padding: 0;
      display: block;
      background: $bgcolor2;
      box-sizing: border-box;
      color: $fgcolor2;
      padding-bottom: 1rem;
      font: 400 1.25rem/1.5rem Arial, Verdana, Helvetica, sans-serif;
      padding-left: 2rem;
      padding-right: 2rem;

      p {
        box-sizing: border-box;
        position: relative;
        z-index: 99;
        max-width: 100%;
        width: $fullwidth;
        padding: 0;
        padding-top: 1rem;
        margin: 0;
        padding-left: 1rem;
        margin-left: auto;
        margin-right: auto;

        & + p {
          padding-top: 1.125rem;
        }

        strong {
          color: $headercolor2;
          font: 800 1.25rem/1.5rem Calibri, Arial, Verdana, Helvetica sans-serif;
        }

        @media (max-device-width: 700px), (max-width: 700px) {
          padding-left: 0;
        }
      }

      ul {
        box-sizing: border-box;
        position: relative;
        z-index: 99;
        display: block;
        max-width: 100%;
        width: $fullwidth;
        padding: 0;
        padding-top: 2rem;
        padding-left: 1rem;
        margin: 0;
        margin-left: auto;
        margin-right: auto;

        li {
          margin-left: 2rem;
          padding-left: 1rem;

          & + li {
            margin-top: 1rem;
          }
        }

        @media (max-device-width: 700px), (max-width: 700px) {
          padding-left: 0;

          li {
            padding-left: 0;
            margin-left: 1.25rem;
          }
        }
      }

      ul.links {
        list-style: none;
        padding-top: 1rem;

        li.link {
          padding: 0;
          margin: 0;
          display: inline-block;
          line-height: 4.5rem;

          a.button {
            padding: 1rem;
            text-decoration: none;
            border: 0.125rem solid white;
            border-radius: 0.125rem;
            background: none;
            color: white;
            cursor: pointer;
            padding: 1rem;
            font: bold 1.0rem/1.0rem Tahoma, Arial, Verdana, Helvetica, sans-serif;
            vertical-align: middle;
            text-align: center;
            line-height: 1rem;
            color: $headercolor2;
            display: inline-block;
            border-color: $headercolor2;

            &.clicked,
            &:active,
            &:focus,
            &:hover {
              background-color: $accentbgcolor2;
              color: $accentfgcolor2;
              border-color: $fgcolor2;
              text-shadow: 0 0 0.25rem $fgcolor2;
              box-shadow: inset 0 0 0.125rem $bgcolor2;
            }
          }

          @media (max-device-width: 700px), (max-width: 700px) {
            display: block;
            box-sizing: border-box;
            max-width: 100%;
            width: 100%;

            a.button {
              box-sizing: border-box;
              max-width: 100%;
              width: 100%;
            }
          }

          &:not(:last-child) {
            margin-right: 1rem;
          }
        }

        & + ul.links {
          border-top: 0.125rem dotted $fgcolor2;
          padding-top: 0.625rem;
          margin-top: 1rem;
        }
      }

      ul.screenshots {
        list-style: none;

        li.screenshot {
          margin: 0;
          padding: 0;
          display: inline-block;
          display: flex;
          flex-direction: row;
          width: 100%;

          &:not(:last-child) {
            padding-bottom: 1rem;
            border-bottom: 0.125rem dotted $fgcolor2;
            margin-bottom: 1rem;
          }

          @media (max-device-width: 700px), (max-width: 700px) {
            display: block;
          }

          .image {
            flex: 0 0 auto;
            width: 50%;
            text-align: center;

            @media (max-device-width: 700px), (max-width: 700px) {
              width: 100%;
            }

            img {
              position: relative;
              top: 0.125rem;
              border: 0.25rem double $fgcolor2;
              width: 100%;
            }
          }

          p {
            display: block;
            flex: 1 1 auto;
            padding: 1rem;
            border-left: 0.125rem dotted $fgcolor2;
            margin-left: 1rem;
            text-align: center;

            @media (max-device-width: 700px), (max-width: 700px) {
              width: 100%;
              margin-left: 0;
              border: none;
            }
          }
        }
      }

      &::after {
        content: "";
        position: absolute;
        display: block;
        height: $tooth;
        bottom: calc((#{$tooth} * -0.875) + 0.0625rem);
        left: 0;
        right: 0;
        background: linear-gradient( 45deg, transparent 33.333%, $bgcolor2 33.333%, $bgcolor2 66.667%, transparent 66.667%), linear-gradient( -45deg, transparent 33.333%, $bgcolor2 33.333%, $bgcolor2 66.667%, transparent 66.667%);

        background-size: $tooth calc(#{$tooth} * 2);
        /* toothSize doubleHeight */

        background-position: 0 calc(#{$tooth} * -1);
        /* horizontalOffset -height */

        z-index: 9;
      }

      &:nth-of-type(2n + 1) {
        background: $bgcolor1;
        color: $fgcolor1;

        h3 {
          color: $headercolor1;

          span.subtitle {
            border-bottom-color: $fgcolor1;
          }
        }

        p strong {
          color: $headercolor1;
        }

        ul.links {
          & + ul.links {
            border-color: $fgcolor1;
          }

          li.link a.button {
            color: $headercolor1;
            border-color: $headercolor1;

            &.clicked,
            &:active,
            &:focus,
            &:hover {
              background-color: $accentbgcolor1;
              color: $accentfgcolor1;
              text-shadow: 0 0 0.25rem $bgcolor1;
              box-shadow: inset 0 0 0.125rem $bgcolor1;
            }
          }
        }

        ul.screenshots {
          li.screenshot {
            border-bottom-color: $fgcolor1;

            img {
              width: calc(100% - 1.5rem);
              border-color: $fgcolor1;
            }

            p {
              border-left-color: $fgcolor1;
            }
          }
        }

        &::after {
          background-image: linear-gradient( 45deg, transparent 33.333%, $bgcolor1 33.333%, $bgcolor1 66.667%, transparent 66.667%), linear-gradient( -45deg, transparent 33.333%, $bgcolor1 33.333%, $bgcolor1 66.667%, transparent 66.667%);
        }
      }
    }

    footer {
      padding: 0;
      margin: 0;
      color: $logofgcolor;
      font: 400 1.0rem/1.375rem Tahoma, Arial, Verdana, Helvetica, sans-serif;
      padding-top: 3.5rem;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 1rem;

      a {
        color: $logofgcolor;
      }
    }
  }
}
