// Default color theme
@import "themes/default.scss";

/* Basic page details */
body, html {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

/* 4k support */
@media (min-width: 2561px) {
    /* If we did our job, this is all we need to scale everything! */
    body, html {
        font-size: 24px;
    }
}

// Button
//
// This is a simple button.
//
// Markup
// <div><button class="button">Ok</button></div>
//
// Styleguide Components.button
.button {
    position: relative;
    display: inline-block;
    border: var(--theme-button-border);
    border-radius: var(--theme-button-border-radius);
    color: var(--theme-button-text);
    cursor: pointer;
    padding: 0.25rem 0.4rem;
    margin-top: 0.5rem;
    text-align: center;
    text-decoration: none;
    font: 800 0.75rem/1.0rem Lato, sans-serif;
    background: var(--theme-button-background);
    box-shadow: var(--theme-button-shadow);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */

    + .button {
        margin-left: 0.5rem;
    }

    svg,
    img {
        display: inline-block;
        height: calc(100% - 0.25rem);

        &.hover {
            display: none;
        }
    }

    &.inline {
        margin-top: 0;
    }

    &:hover {
        text-decoration: none;
        box-shadow: var(--theme-button-hover-shadow);

        img {
            display: none;
        }

        img.hover {
            display: inline-block;
        }
    }

    &:active {
        top: 0.0625rem;
        background: var(--theme-button-active-background);
        color: var(--theme-button-active-text);
    }

    &.disabled,
    &:disabled {
        color: var(--theme-button-disabled-text);
        background: var(--theme-button-disabled-background);
        cursor: default;
        box-shadow: var(--theme-button-disabled-shadow);

        &:active {
            position: relative;
            top: 0;
            color: var(--theme-button-disabled-text);
            background: var(--theme-button-active-background);
        }

        &:hover {
            box-shadow: var(--theme-button-disabled-shadow);
        }
    }

    /* "red" button colors */
    &.red {
        background: var(--theme-button-cancel-background);
        box-shadow: var(--theme-button-cancel-shadow);

        &:hover {
            box-shadow: var(--theme-button-cancel-hover-shadow);
        }

        &:active {
            background: var(--theme-button-cancel-active-background);
        }

        &.disabled,
        &:disabled {
            &:active {
                background: var(--theme-button-disabled-background);
                box-shadow: var(--theme-button-disabled-shadow);
            }

            &:hover {
                background: var(--theme-button-disabled-background);
                box-shadow: var(--theme-button-disabled-shadow);
            }
        }
    }
}

/* Making sure hidden things are hidden */
template, *[hidden] {
    display: none !important;
}

.editor-pane {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex: 1 1 0.1%;
    overflow: auto;
    margin: 0;
    width: 100%;

    > svg.editor-icon {
      display: none;
    }

    svg.editor-icon {
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      width: 100%;
      height: 100%;
      object-fit: contain;
      fill: var(--theme-editor-icon);
    }
}

textarea, pre {
    background: var(--theme-editor-background);
    color: var(--theme-editor-text);
    box-sizing: border-box;
    flex: 1 1 100%;
    overflow: hidden;
    font-family: var(--theme-editor-font);
    margin: 0;
}

pre#output {
    background: var(--theme-console-output-background);
    color: var(--theme-console-output-text);
    flex: 0 1 auto;
    box-sizing: border-box;
    overflow: auto;
    overflow-y: scroll;
    margin: 0;
    height: 100%;
    padding: 0;
    padding-left: 1rem;
}

ol.toolbar {
    position: absolute;
    top: 0.3rem;
    right: 0.4rem;
    padding: 0;
    margin:  0;
    list-style: none;

    li {
        display: inline-block;
        line-height: 0;
        margin-left: 0.5rem;
        vertical-align: top;

        button {
            background: var(--theme-toolbar-background);
            border: var(--theme-toolbar-border);
            box-shadow: var(--theme-toolbar-inactive-shadow);
            height: 1.40rem;
            width:  1.40rem;
            position: relative;
            border-radius: 50%;
            cursor: pointer;
            outline: none;

            > svg {
                fill: var(--theme-toolbar-icon);
                position: absolute;
                left: 20%;
                top: 20%;
                width: 60%;
                height: 60%;
                margin: 0;
                padding: 0;
            }

            &#run {
                > svg.play {
                    left: 22%;
                }

                > svg.restart {
                    display: none;
                }

                &[data-status="success"],
                &[data-status="active"] {
                    > svg.play {
                        display: none;
                    }

                    > svg.restart {
                        display: inline-block;
                    }
                }
            }

            &#step {
                > svg.play {
                    left: 22%;
                }

                > svg.step {
                    display: none;
                }

                &[data-status="active"] {
                    > svg.step {
                        display: inline-block;
                    }

                    > svg.pause {
                        display: none;
                    }
                }
            }

            @keyframes pulse {
                0% {
                    box-shadow: var(--theme-toolbar-active-shadow-start);
                }
                100% {
                    box-shadow: var(--theme-toolbar-active-shadow-end);
                }
            }

            &[data-status="paused"] {
                box-shadow: var(--theme-toolbar-paused-shadow);
            }

            &[data-status="active"] {
                animation: 1s infinite alternate pulse;
            }

            &[data-status="success"] {
                box-shadow: var(--theme-toolbar-success-shadow);
            }

            &[data-status="failure"] {
                box-shadow: var(--theme-toolbar-failure-shadow);
            }

            &[disabled] {
                opacity: 0.5;
                cursor: default;
            }

            &:hover:not([disabled]) {
                background: var(--theme-toolbar-hover-background);

                > svg {
                    fill: var(--theme-toolbar-hover-icon);
                }
            }

            &:focus {
                outline: none;
            }
        }
    }
}

ol.tabs {
    background: var(--theme-tab-background);
    display: block;
    flex: 0 1 auto;
    height: 2rem;
    margin: 0;
    min-height: 2rem;
    line-height: 2rem;
    overflow: hidden;
    padding: 0;
    position: relative;
    white-space: nowrap;

    &::after {
        box-shadow: var(--theme-tab-shadow);
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
    }

    > li.tab {
        background: var(--theme-tab-background);
        position: relative;
        display: inline-block;
        height:  1.75rem;
        line-height: 1.5rem;
        margin-left: -0.05rem;
        margin-top: 0.05rem;
        top: 0.03125rem;

        &.group {
            margin-left: 0.5rem;

            & + .group {
                margin-left: 0;
            }
        }

        > button ,
        > a {
            color: var(--theme-tab-inactive-text);
            background: var(--theme-tab-inactive-background);
            border: var(--theme-tab-inactive-border);
            cursor: pointer;
            outline: none;
            display: inline-block;
            padding: 0 0.5rem;
            font: 400 1rem Lato;
            height: 1.7rem;
            line-height: 1.6rem;
            min-width: 5rem;
            text-align: center;
            text-decoration: none;

            img {
                width: 1rem;
                height: 1rem;
            }
        }

        &:first-child {
            margin-left: 0.5rem;
        }

        &.active {
            background: var(--theme-tab-active-background);
            box-shadow: var(--theme-tab-active-shadow);
            height: 1.75rem;
            margin-top: 0.25rem;
            z-index: 9;

            &::after {
                content: '';
                position: absolute;
                top: 0.125rem;
                left: 0.125rem;
                height: 0.25rem;
                width: calc(100% - 0.25rem);
                background: var(--theme-tab-active-accent);
            }

            > button,
            > a {
                color: var(--theme-tab-active-text);
                border: var(--theme-tab-active-border);
                height: 1.75rem;
                line-height: 1.90rem;
            }
        }
    }

    &.side {
        background-color: var(--theme-tab-side-background);
        height: auto;
        overflow: visible;
        z-index: 99;

        > li.tab {
            display: block;
            width: 1.9rem;
            height: auto;
            background: none;
            margin-left: 0;
            margin-top: 0;
            margin-left: 0.25rem;

            > button,
            > a {
                min-width: auto;
                width: 1.9rem;
                height: auto;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 0.5rem 0;

                img {
                    margin-bottom: 0.5rem;
                }

                span.caption {
                    left: 0.0625rem;
                    position: relative;
                    width: 1.5rem;

                    // Write sideways
                    writing-mode: vertical-lr;

                    // Flip
                    transform: scale(-1, -1);
                }
            }

            &:first-child {
                margin-top: 0.5rem;
            }

            &.active {
                left: -0.125rem;
                margin-left: 0.25rem;

                &::after {
                    width: 0.125rem;
                    height: calc(100% - 0.25rem);
                }

                > button,
                > a {
                    width: 2rem;
                    border-right: 0.125rem solid white;

                    img {
                        margin-left: 0.125rem;
                    }

                    span.caption {
                        left: 0.25rem;
                    }
                }
            }
        }

        &::after {
            display: none;
            content: '';
        }
    }
}

// Nested tabs
ol.tab-panels ol.tabs:not(.side) {
    background: var(--theme-tab-nested-background);
    box-shadow: var(--theme-tab-nested-shadow);
}

ol.tab-panels {
    background: var(--theme-panel-background);
    display: block;
    flex: 1 1 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;

    > li.tab-panel {
        display: flex;
        position: absolute;
        flex-direction: column;
        max-height: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
        padding-top: 0.25rem;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &.active {
            z-index: auto;
        }
    }

    &.side {
        > li.tab-panel {
            padding-top: 0;
            padding-left: 0.25rem;
        }
    }
}

.file-list,
.project-pane {
    background: var(--theme-file-pane-background);
    box-shadow: var(--theme-file-pane-shadow);
    user-select: none;
    cursor: default;
    flex: 1 0 auto;
    margin-right: 0;
    width: 15rem;
    min-width: 12rem;
    overflow: auto;

    .target-selection {
        display: flex;
        flex-direction: row;
        box-shadow: 0 0 0.25rem -0.0625rem black;
        width: calc(100% - 0.0625rem);
        background: #fff;
        position: relative;
        top: 0.0625rem;

        label {
            font: var(--theme-file-pane-label-font);
            flex: 1 0 auto;
            display: inline-block;
            padding-left: 0.25rem;
            padding-right: 0.25rem;
            height: 1.25rem;
            line-height: 1.25rem;
        }

        select,
        .select {
            background: var(--theme-file-pane-select-background);
            color: var(--theme-file-pane-select-text);
            font: var(--theme-file-pane-select-font);
            border: none;
            border-left: var(--theme-file-pane-inner-border);
            flex: 0 1 100%;
            display: inline-block;
            box-sizing: border-box;
            height: 1.25rem;
            cursor: pointer;

            &:not(:last-child) {
                border-right: var(--theme-file-pane-inner-border);
            }

            &:hover {
                background: var(--theme-file-pane-select-hover-background);
                color: var(--theme-file-pane-select-hover-text);
            }

            &:hover:focus {
                background: var(--theme-file-pane-select-background);
                color: var(--theme-file-pane-select-text);
            }

            option {
                cursor: pointer;
            }

            &::selection,
            option:hover {
                background: var(--theme-file-pane-select-hover-background);
                color: var(--theme-file-pane-select-hover-text);
            }
        }

        button {
            background: var(--theme-file-pane-button-background);
            color: var(--theme-file-pane-button-text);
            position: relative;
            width: 1.25rem;
            height: 1.25rem;
            line-height: 1.25rem;
            cursor: pointer;
            border: none;
            flex: 0 0 auto;

            img {
                display: inline-block;
                width: 1rem;
                height: 1rem;
                top: 0.125rem;
                left: 0.125rem;
                position: absolute;

                &.active,
                &.hover {
                    display: none;
                }
            }

            &:hover {
                background: var(--theme-file-pane-button-hover-background);
                color: var(--theme-file-pane-button-hover-text);

                img {
                    display: none;

                    &.hover {
                        display: inline-block;
                    }
                }
            }

            &:active {
                background: var(--theme-file-pane-button-active-background);
                color: var(--theme-file-pane-button-active-text);
            }
        }
    }

    ol {
        padding: 0.5rem;

        p.empty {
            color: #888;
            display: none;
            font: 400 0.7rem/1.0rem Lato, sans-serif;
            font-style: italic;
            margin: 0;
            margin-left: 1rem;
            padding: 0;
        }

        // Nested list
        ol {
            padding: 0.25rem 0.75rem;
            padding-right: 0;
        }

        // Directory/File
        li {
            list-style: none;
            padding: 0;
            margin: 0;
            padding-bottom: 0.25rem;
            position: relative;

            &[disabled] {
                opacity: 0.5;
            }

            // Specifically, a directory
            &.directory {
                > span.info {
                    &::before {
                        content: '';
                        border-left: 0.4rem solid var(--theme-file-pane-directory-arrow);
                        border-top: 0.25rem solid transparent;
                        border-bottom: 0.25rem solid transparent;
                        height: 0;
                        width: 0;
                        display: inline-block;
                        margin-right: 0.4rem;
                        position: relative;
                        top: 0.125rem;
                        transition: 0.5s transform;
                    }

                    span {
                        color: var(--theme-file-pane-directory-text);
                        font: var(--theme-file-pane-directory-font);
                    }

                    > svg {
                        fill: var(--theme-file-pane-directory-icon);
                    }
                }

                &.built-in {
                    > span.info::before {
                        border-left: 0.4rem solid var(--theme-file-pane-directory-static-arrow);
                    }

                    > span.info {
                        > svg {
                            fill: var(--theme-file-pane-directory-static-icon);
                        }
                    }
                }

                > ol {
                    display: none;
                }

                &.open {
                    > span.info {
                        &::before {
                            transform: rotate(90deg);
                        }
                    }

                    > ol {
                        display: block;

                        &:empty ~ p.empty {
                            display: block;
                        }
                    }
                }

                &:hover {
                    > span.info::before {
                        border-left: 0.4rem solid var(--theme-file-pane-directory-hover-arrow);
                    }

                    > span.info {
                        > span {
                            color: var(--theme-file-pane-directory-hover-text);
                        }

                        > svg {
                            fill: var(--theme-file-pane-directory-hover-icon);
                        }
                    }

                    > button.actions {
                        border-color: #aaaaaa;

                        > svg {
                            fill: var(--theme-file-pane-directory-hover-icon);
                        }
                    }
                }
            }

            span.info {
                display: block;
                padding-bottom: 0.25rem;
                padding-left: 0.125rem;
                cursor: pointer;

                > svg {
                    width: 0.875rem;
                    height: 0.875rem;
                    line-height: 1rem;
                    margin-right: 0.25rem;
                    vertical-align: middle;
                    fill: var(--theme-file-pane-file-icon);
                }

                > .annotation {
                    display: inline-block;
                    width: 1rem;
                    height: 1rem;
                    line-height: 1rem;
                    vertical-align: middle;

                    svg {
                        width: 100%;
                        height: 100%;
                        display: block;
                        fill: var(--theme-file-pane-error);
                    }
                }

                > button.actions {
                    cursor: pointer;
                    position: absolute;
                    right: 0.25rem;
                    top: 0.25rem;
                    background: none;
                    border: 0.0625rem solid transparent;
                    border-radius: 50%;
                    width: 1rem;
                    height: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0;
                    padding: 0;

                    &:active {
                        outline: none;
                    }

                    > svg {
                        width: 100%;
                        height: 100%;
                        line-height: 0.75rem;
                        fill: transparent;
                    }
                }

                > ul.dropdown-menu {
                    list-style: none;
                    position: absolute;
                    z-index: 999;
                    padding: 0;
                    margin: 0;
                    right: 0;
                    outline: 0;
                    background: white;
                    border: 0.0625rem solid #333;

                    > li {
                        padding: 0;
                        margin: 0;

                        > button {
                            width: 100%;
                            text-align: left;
                            background: none;
                            border: 0;
                            padding: 0.25rem;
                            margin: 0;
                            cursor: pointer;

                            &:focus,
                            &:hover:not([disabled]) {
                                background: #46b1e4;
                                color: white;
                            }
                        }
                    }
                }

                span {
                    color: var(--theme-file-pane-file-text);
                    font: var(--theme-file-pane-file-font);
                    width: 1rem;
                    height: 1rem;
                    line-height: 1rem;
                    margin-right: 0.25rem;
                    vertical-align: middle;
                }
            }

            > span.info:hover {
                > span {
                    color: var(--theme-file-pane-file-hover-text);
                }

                > svg {
                    fill: var(--theme-file-pane-file-hover-icon);
                }

                > button.actions {
                    border-color: var(--theme-file-pane-file-hover-icon);

                    > svg {
                        fill: var(--theme-file-pane-file-hover-icon);
                    }
                }
            }

            &.action {
                span.info {
                    box-shadow: 0 0 0 0.125rem #a2dca2;
                    border-radius: 1rem;
                    text-align: center;
                    position: relative;
                    padding: 0;

                    > button {
                        display: block;
                        padding-bottom: 0.125rem;
                        padding-left: 1.1rem;
                        background: none;
                        border: none;
                        outline: none;
                        margin: 0;
                        width: 100%;
                    }

                    &:hover {
                        background-color: #a2dca2;
                        color: white;

                        > button {
                            color: white;
                        }
                    }
                }

                &[data-action="new-project"] {
                    span.info {
                        &::before {
                            content: '';
                            position: absolute;
                            width: 0.75rem;
                            height: 0.75rem;
                            border-radius: 50%;
                            border: 0.125rem solid #a2dca2;
                            left: 0.125rem;
                            top: 0.125rem;
                        }

                        button {
                            cursor: pointer;

                            &::before {
                                content: '';
                                position: absolute;
                                width: 0.125rem;
                                height: 0.5rem;
                                left: 0.5625rem;
                                top: 0.375rem;
                                background-color: #a2dca2;
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                width: 0.5rem;
                                height: 0.125rem;
                                left: 0.375rem;
                                top: 0.5625rem;
                                background-color: #a2dca2;
                            }
                        }

                        &:hover {
                            &::before {
                                border-color: white;
                            }

                            &::after {
                                border-color: white;
                            }

                            button {
                                &::before {
                                    background-color: white;
                                }

                                &::after {
                                    background-color: white;
                                }
                            }
                        }
                    }
                }
            }

            &.active {
                > span.info {
                    background: var(--theme-file-pane-file-active-background);
                    color: var(--theme-file-pane-file-active-text);
                    border-radius: 1rem;
                    border-top-left-radius: 0.25rem;
                    border-bottom-left-radius: 0.25rem;

                    > span {
                        color: var(--theme-file-pane-file-active-text);
                    }

                    > svg {
                        fill: var(--theme-file-pane-file-active-icon);
                    }

                    > button.actions {
                        border-color: #ffffff;

                        > svg {
                          fill: var(--theme-file-pane-file-active-icon);
                        }
                    }
                }
            }
        }
    }
}

.top {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    overflow: hidden;
    line-height: 1.2;

    .container {
        display: flex;
        flex: 1 0 auto;
        flex-direction: row;
        margin: 0;
        min-width: 20rem;
        text-align: center;
        position: relative;
        background: var(--theme-container-background);

        > svg.tracks {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            fill: var(--theme-container-icon);
        }

        ol.tabs.side {
            position: static;
            flex: 1 1 0%;
        }

        ol.tab-panels {
            height: 100%;

            .tab-panel {
                .output-container {
                    display: flex;
                    flex: 1 0 auto;
                    flex-direction: row;
                    margin: 0;
                    text-align: center;
                    background: var(--theme-container-background);
                    position: relative;

                    > svg.tracks {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        fill: var(--theme-container-icon);
                    }

                    .output {
                        position: relative;
                        text-align: left;
                        margin: 0 auto;
                        display: inline-block;
                        border-left: var(--theme-container-border);
                        border-right: var(--theme-container-border);
                        outline: var(--theme-terminal-border);
                        width: 640px;
                        height: 480px;

                        .run-panel.terminal-container {
                            width: 640px;
                            height: 480px;
                            font: var(--theme-terminal-font);
                            background: var(--theme-terminal-background);
                        }
                    }
                }
            }

            li.tab-panel {
                .run-panel {
                    > canvas {
                        width: 640px;
                        height: 480px;
                        background: black;
                        image-rendering: crisp-edges;
                        image-rendering: pixelated;
                    }
                }
            }

            div.disconnected {
                position: absolute;
                left: 0;
                right: 0.0625rem;
                top: 0;
                bottom: 0;
                background: rgba(96, 41, 41, 0.5);
                z-index: 9;
                display: flex;
                align-items: center;
                align-content: center;
                text-align: center;

                img {
                    flex: 1;
                    width: 40%;
                    height: 40%;
                    animation: 1s infinite alternate disconnect-pulse;

                    @keyframes disconnect-pulse {
                        0% {
                          opacity: 0.5;
                        }
                        100% {
                          opacity: 1.0;
                        }
                    }
                }
            }
        }
    }

    .register-file {
        flex: 0 1 17rem;
        width: 17rem;
        background: var(--theme-panel-background);
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 17rem;

        .registers {
            box-shadow: var(--theme-panel-shadow);
            padding: 0;
            margin: 0;
            margin-top: 0.25rem;
            height: 100%;
            width:  100%;
            overflow: auto;
            border-collapse: collapse;
            display: block;

            .register {
                padding: 0.25rem;
                color: var(--theme-panel-label-text);
                font: var(--theme-panel-label-font);
                font-weight: normal;
                font-variant-ligatures: none;

                > * {
                    border-bottom: var(--theme-panel-table-border);
                    padding: 0.25rem 0.4rem;

                    &:not(:first-child) {
                        border-left: var(--theme-panel-table-border);
                    }

                    text-align: center;
                }

                &.updated {
                    > .value > button,
                    > * {
                        color: var(--theme-panel-data-updated-text);
                        font-weight: bold;
                    }
                }

                &:last-child {
                    border: none;
                }

                .value {
                    width: 100%;
                    color: var(--theme-panel-data-text);

                    button {
                        font: var(--theme-panel-data-font);
                        margin: 0;
                        padding: 0;
                        outline: none;
                        border: none;
                        background: transparent;
                        text-align: center;
                        color: var(--theme-panel-data-text);
                    }
                }

                .edit {
                    width: 100%;

                    .input {
                        background: transparent;
                        border: none;
                        font: 1rem/normal 'inconsolata', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
                        margin: 0;
                        outline: none;
                        padding: 0;
                        text-align: center;
                        width: 100%;
                    }
                }

                .actions {
                    line-height: 0;
                    margin: 0;
                    padding: 0;
                    position: relative;

                    > button.actions {
                        cursor: pointer;
                        background: none;
                        border: 0.0625rem solid #ffffff;
                        border-radius: 50%;
                        width: 1rem;
                        height: 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:active {
                            outline: none;
                        }

                        > img {
                            width: 1rem;
                            height: 1rem;
                            line-height: 1rem;
                            padding: 0;
                            margin: 0;
                            vertical-align: middle;

                            &.active ,
                            &.hover {
                                display: none;
                            }
                        }
                    }

                    > ul.dropdown-menu {
                        list-style: none;
                        position: absolute;
                        z-index: 999;
                        padding: 0;
                        margin: 0;
                        right: 0;
                        outline: 0;
                        background: white;
                        border: 0.0625rem solid #333;

                        > li {
                            padding: 0;
                            margin: 0;
                            white-space: nowrap;

                            > button {
                                width: 100%;
                                text-align: left;
                                background: none;
                                border: 0;
                                padding: 0.25rem;
                                margin: 0;
                                cursor: pointer;

                                &:focus,
                                &:hover:not([disabled]) {
                                    background: #46b1e4;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.bottom {
    display: flex;
    flex-direction: row;
    flex: 1 1 0.1%;

    .left {
        display: flex;
        flex: 1 1 0.1%;
        flex-direction: column;
        overflow: auto;
        min-width: 20rem;
    }

    .right {
        background: #fff;
        display: flex;
        flex: 0 1 17rem;
        flex-direction: column;
        position: relative;
        width: 17rem;
        min-width: 17rem;
    }

    // The output steps
    .output-console {
        ol.output-processes {
            background: #0e0e0e;
            color: #d4d4d4;
            flex: 0 1 auto;
            box-sizing: border-box;
            overflow: auto;
            overflow-y: scroll;
            margin: 0;
            height: 100%;
            padding: 0;
            padding-left: 0.25rem;
            list-style: none;

            li.output-process {
                position: relative;

                &::after {
                    content: '';
                    width: 1rem;
                    height: 1rem;
                    background: gray;
                    border-radius: 50%;
                    border: 0.0625rem solid gray;
                    position: absolute;
                    left: 0.1875rem;
                    top: 0.3125rem;
                }

                .status-symbol {
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    top: 1rem;

                    @keyframes status-pulse {
                        0% {
                            opacity: 1;
                        }

                        50% {
                            opacity: 0.4;
                        }
                    }

                    .dot {
                        display: none;
                        position: absolute;
                        animation: 0.9s infinite alternate status-pulse;
                        animation-delay: 0s;
                        width: 0.125rem;
                        height: 0.125rem;
                        left: 0.25rem;
                        top: 50%;
                        border-radius: 1rem;
                        background-color: #b3b3b3;
                    }

                    .dot + .dot {
                        animation-delay: -0.3s;
                        left: 0.5rem;
                    }

                    .dot + .dot + .dot {
                        animation-delay: -0.6s;
                        left: 0.75rem;
                    }

                    // Graphical icon for the status bubble
                    svg {
                        display: none;
                        width: 1.5rem;
                        height: 1.5rem;
                        left: -0.1875rem;
                        top: -0.7rem;
                        position: absolute;
                    }

                    // The graphic for when the item is 'done'
                    svg.done {
                        fill: #33c033;
                    }

                    // The graphic for when the item has 'failed'
                    svg.failed {
                        fill: red;
                    }
                }

                > .status-symbol {
                    top: 0.8125rem;
                    left: 0.1875rem;
                }

                h1.output-process-title {
                    border-bottom: var(--theme-console-process-border);
                    color: var(--theme-console-process-text);
                    margin: 0;
                    padding: 0.25rem 0.5rem;
                    padding-bottom: 0.3125rem;
                    padding-left: 1.75rem;
                    font: 400 1rem Lato;
                    text-align: left;
                    position: relative;
                    cursor: pointer;

                    &::before {
                        content: '';
                        border-left: 0.4rem solid var(--theme-console-process-arrow);
                        border-top: 0.25rem solid transparent;
                        border-bottom: 0.25rem solid transparent;
                        height: 0;
                        width: 0;
                        display: inline-block;
                        margin-right: 0.4rem;
                        position: relative;
                        top: -0.125rem;
                        transition: 0.5s transform;
                    }

                    &:not(:first-child) {
                        margin-top: 0.5rem;
                    }

                    span.filename {
                        padding: 0 0.25rem;
                        margin-left: 0.5rem;
                        display: inline-block;
                        background-color: rgba(128, 128, 128, 0.25);
                        border-radius: 0.25rem;
                        color: #d46acb;
                        font-family: 'inconsolata', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
                    }

                    &:not(.expanded) {
                        border-color: transparent;
                    }

                    &.expanded {
                        &::before {
                            transform: rotate(90deg);
                        }

                        & ~ pre:not(:empty),
                        & + ol {
                            display: block;
                        }
                    }
                }

                &:not(:last-child) {
                    h1.output-process-title.expanded {
                        & + ol {
                            padding-bottom: 0.25rem;
                            border-bottom: 0.0625rem solid #71526e;
                        }
                    }
                }

                ol.output-process-steps {
                    display: none;
                    margin: 0;
                    padding: 0;
                    position: relative;
                    list-style: none;
                    padding-left: 0.5rem;

                    li.output-process-step {
                        position: relative;
                        padding-left: 1.5rem;

                        &::after {
                            content: '';
                            width: 1rem;
                            height: 1rem;
                            background: gray;
                            border-radius: 50%;
                            border: 0.0625rem solid gray;
                            position: absolute;
                            left: 0;
                            top: 0.5rem;
                        }

                        h2.output-process-step-title {
                            color: var(--theme-console-step-text);
                            margin: 0;
                            padding: 0.25rem 0.375rem;
                            font: 400 1rem Lato;
                            text-align: left;
                            line-height: 1.375rem;
                            display: inline-block;
                            cursor: pointer;

                            &::before {
                                content: '';
                                border-left: 0.4rem solid var(--theme-console-step-arrow);
                                border-top: 0.25rem solid transparent;
                                border-bottom: 0.25rem solid transparent;
                                height: 0;
                                width: 0;
                                display: inline-block;
                                margin-right: 0.4rem;
                                position: relative;
                                top: -0.0625rem;
                                transition: 0.5s transform;
                            }

                            &.expanded::before {
                                transform: rotate(90deg);
                            }

                            span.output-filename {
                                opacity: 0.5;
                                display: inline-block;
                                padding: 0 0.25rem;
                                margin-left: 0.5rem;
                                display: inline-block;
                                background-color: rgba(128, 128, 128, 0.25);
                                border-radius: 0.25rem;
                                border: 0.0625rem solid #888;
                                color: #927a90;
                                font-family: 'inconsolata', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
                                font-size: 0.75rem;
                                line-height: 1rem;

                                &:hover {
                                    background: white;
                                }
                            }

                            & + pre.output-process-step-stdout {
                                display: none;
                                border-radius: 0.25rem;
                            }

                            &.expanded + pre.output-process-step-stdout {
                                display: block;
                            }
                        }

                        pre.output-process-step-stdout {
                            line-height: 1.25rem;
                            padding: 0.25rem 0.5rem;
                        }

                        &[data-status="failed"] {
                            &::after {
                                background-color: rgba(166, 0, 0, 0.5);
                                border-color: red;
                            }

                            > .status-symbol {
                                svg.failed {
                                    display: inline-block;
                                }
                            }
                        }

                        &[data-status="done"] {
                            &::after {
                                background-color: rgba(80, 100, 80, 0.5);
                                border-color: green;
                            }

                            h2.output-process-step-title {
                                span.output-filename {
                                    opacity: 1;
                                    color: #46b1e4;
                                }
                            }

                            > .status-symbol {
                                svg.done {
                                    display: inline-block;
                                }
                            }
                        }

                        &[data-status="pending"] {
                            &::after {
                                background-color: rgba(128, 128, 128, 0.5);
                                border-color: #888;
                            }

                            > .status-symbol {
                                .dot {
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }

                pre.output-process-stdout {
                    display: none;
                    border-radius: 0.25rem;
                    margin: 0.5rem;
                    margin-left: 0.375rem;
                    line-height: 1.25rem;
                    padding: 0.25rem 0.5rem;

                    &:empty {
                        display: none;
                    }
                }

                &[data-status="failed"] {
                    &::after {
                        background-color: rgba(166, 0, 0, 0.5);
                        border-color: red;
                    }

                    svg.failed {
                        display: inline-block;
                    }
                }

                &[data-status="done"] {
                    &::after {
                        background-color: rgba(80, 100, 80, 0.5);
                        border-color: green;
                    }

                    h2.output-process-step-title {
                        span.output-filename {
                            opacity: 1;
                            color: #46b1e4;
                        }
                    }

                    svg.done {
                        display: inline-block;
                    }
                }

                &[data-status="pending"] {
                    &::after {
                        background-color: rgba(128, 128, 128, 0.5);
                        border-color: #888;
                    }

                    > .status-symbol {
                        .dot {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}

#run-panel {
    .top {
        flex: 0 1 481px;
        height: 481px;
    }
}

#assemble-panel {
    .top {
        flex-basis: calc(100% - 15.25rem);
        height: calc(100% - 15.25rem);
    }

    .bottom {
        flex: 0 0 15rem;
        height: 15rem;
    }
}

table.memory ,
table.instructions ,
table.labels {
    position: absolute;
    top: 0.15rem;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: content-box;
    overflow: auto;
    height:   100%;
    display:  block;
    box-shadow: 0 0 0.25rem -0.0625rem black inset;
    border-collapse: collapse;
    tr {
        &:hover td {
            background: #f2f9ff;
        }

        th ,
        td {
            font-family: 'inconsolata', monospace, courier,fixed, swiss, sans-serif;
            font-size: 15px;
            font-weight: normal;
            font-variant-ligatures: none;
            border-top: 0.0625rem solid #ddd;
            border-left: 0.0625rem solid #ddd;
            padding: 0.25rem;

            &:first-child {
                border-left: none;
            }

            &.breakpoint.checked {
                &,
                & ~ td {
                    background: #ddd0db;
                }
            }
        }

        &.highlighted td ,
        &.highlighted td.breakpoint.checked ,
        &.highlighted td.breakpoint.checked ~ td {
            background: #ffff65;
        }

        // For pseudo-ops, this makes sure the the source lines appear to span
        // multiple rows. (unless the row or the previous row are highlighted)
        &:not(.highlighted) + tr:not(.highlighted) td:empty {
            border-top: none;
        }

        td.machine-code,
        td.address,
        td.row {
            text-align: right;
        }

        td.code {
            width: 50%;
        }

        td.address,
        td.ascii {
            width: 1%;
            white-space: pre;

            button {
                white-space: pre;
                font-family: 'inconsolata', monospace, courier,fixed, swiss, sans-serif;
                cursor: pointer;
                margin: 0;
                padding: 0;
                border: none;
                background: none;

                &:hover {
                    background: #d3f2ff;
                    color: magenta;
                }
            }
        }

        td.word {
            text-align: center;

            span.highlighted {
                color: magenta;
            }
        }

        td.original {
            width: 50%;
        }

        th {
            font: bold 0.9rem Lato, sans-serif;
            border-bottom: 0.0625rem solid #333;
            text-align: center;
        }

        &:first-child {
            td {
                border-top: none;
            }
        }

        &:last-child {
            td {
                border-bottom: 0.0625rem solid #ddd;
            }
        }
    }

    & + svg {
        box-sizing: content-box;
        display: none;
        height: 100%;
        margin: 0 auto;
        width: 100%;
        fill: var(--theme-panel-icon);
    }

    &.empty {
        display: none;

        & + svg {
            display: block;
            box-shadow: 0 0 0.125rem 0rem black inset;
        }
    }
}

iframe {
    height: 100%;
    width:  100%;
    border: 0;
    box-shadow: 0 0 0.25rem -0.0625rem black inset;
}

.ace_scroller {
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
    background-image: var(--theme-editor-background);
}

.ace-monokai .ace_gutter,
.ace_gutter {
    background-color: #333;
}

.ace-monokai .ace_gutter-active-line,
.ace_gutter-active-line {
    background-color: #46b1e4;
    color: white;
}

.ace-monokai .ace_marker-layer .ace_selection,
.ace_marker-layer .ace_selection {
    background: #253846;
}

.ace_tooltip {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  white-space: pre-wrap;
  max-width: 25rem;

  code {
    color: #9260c3;
    font-family: 'inconsolata', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    margin: 0;
    padding: 0;
  }
}

dialog.dialog {
    background: var(--theme-dialog-background);
    border: var(--theme-dialog-border);
    box-shadow: var(--theme-dialog-shadow);
    padding: 0;

    &::backdrop {
        backdrop-filter: grayscale(0.5);
        background: rgba(0, 0, 0, 0.25);
    }

    > h1.title {
        border-bottom: var(--theme-dialog-title-border);
        padding: 0;
        display: flex;
        flex-direction: row;
        margin: 0;

        > span.caption {
            font: var(--theme-dialog-title-font);
            border-right: var(--theme-dialog-close-border);
            flex: 1 1 100%;
            padding: 0.25rem 0.5rem;
            text-align: center;
            vertical-align: middle;
        }

        > button.close {
            background: var(--theme-dialog-close-background);
            border: none;
            cursor: pointer;
            flex: 1 1 2rem;
            height: 2rem;
            overflow: hidden;
            position: relative;
            text-indent: -9999px;
            width: 2rem;
            outline: none;

            &:focus {
                outline: none;
            }

            &::after {
                font: var(--theme-dialog-close-font);
                color: var(--theme-dialog-close-text);
                bottom: 0;
                content: '\00D7';
                left: 0;
                position: absolute;
                right: 0;
                text-align: center;
                text-indent: 0;
                top: 0;
                vertical-align: middle;
            }

            &:hover {
                background: var(--theme-dialog-close-hover-background);

                &::after {
                    color: var(--theme-dialog-close-hover-text);
                }
            }
        }
    }

    > .client {
        padding: 0.5rem;

        h2 {
            font: var(--theme-dialog-header-font);
            color: var(--theme-dialog-header-text);
            padding: 0;
            margin: 0;
            margin-top: 0.5rem;

            &:first-child {
              margin-top: 0;
            }
        }
    }

    &#dialog-new-file {
        input:not(.button) {
            display: block;
        }
    }

    &#dialog-target-viewer {
        max-width: 100%;

        .target-carousel {
            height: 10rem;
            max-width: 100%;
            width: 40rem;
            position: relative;
            white-space: nowrap;
            overflow: hidden;
            padding: 0;
            background: url('../images/noise_black.png');
            margin-bottom: 0;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                box-shadow: inset 0 0 0.125rem 0 black;
                pointer-events: none;
            }

            ul.target-carousel-items {
                margin: 0;
                padding: 0;
                list-style: none;
                position: absolute;
                top: 0;
                left: 50%;
                transition: 0.5s left;

                li.target {
                    display: inline-block;
                    list-style: none;
                    cursor: pointer;
                    margin-left: 0.25rem;
                    margin-right: 0.25rem;
                    position: absolute;
                    left: 0;
                    top: 0;

                    p {
                        color: white;
                        z-index: 999999;
                        position: absolute;
                        top: 0;
                        display: block;
                        width: 1rem;
                        height: 1rem;
                    }

                    img {
                        display: inline-block;
                        width: 6rem;
                        height: 4.5rem;
                        position: relative;
                        vertical-align: top;
                        top: 3.25rem;
                        left: 3.25rem;
                        object-fit: contain;
                        cursor: pointer;
                        border-bottom: 0.25rem solid transparent;
                        transition: 0.5s top, 0.5s left, 0.5s width, 0.5s height;
                    }

                    &.next {
                        img {
                            top: 2rem;
                            left: 2rem;
                            width: 8rem;
                            height: 6rem;
                        }
                    }

                    &:hover:not(.active) {
                        img {
                            border-bottom-color: #46b1e4;
                        }
                    }

                    &.active {
                        img {
                            top: 0.5rem;
                            left: 0;
                            width: 12rem;
                            height: 9rem;
                        }
                    }
                }
            }
        }

        button.right,
        button.left {
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            background: #ccc;
            cursor: pointer;
            opacity: 0.5;
            position: absolute;
            top: 6.5rem;
            z-index: 99999;
            transition: 0.2s opacity, 0.2s background;
            border: none;

            &:hover {
                opacity: 1;
                background: white;
            }
        }

        button.left {
            left: 1.5rem;
        }

        button.right {
            right: 1.5rem;
        }

        h2 {
            margin-top: 0;
            width: 40rem;
            max-width: 100%;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            text-align: center;
            position: relative;
            border-bottom: 0.25rem double #ddd;

            span.caption {
                position: relative;
                z-index: 9999;
            }

            &::before {
                content: '';
                display: block;
                position: absolute;
                left: calc(50% - 0.5rem);
                top: -0.5rem;
                width: 1rem;
                height: 1rem;
                background: white;
                transform: rotate(45deg);
                z-index: 99;
                box-shadow: 0 0 0.125rem 0 black;
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: calc(50% - 1rem);
                width: 2rem;
                background: white;
                height: 0.75rem;
                z-index: 999;
            }
        }

        .target-details {
            overflow: auto;
            height: 20rem;
            max-width: 100%;
            width: 40rem;
            background: white;
            border-bottom: 0.25rem double #ddd;
            padding-bottom: 1rem;

            h3 {
                margin-bottom: 0;

                img {
                    width: 2rem;
                    height: 2rem;
                    margin-left: 1rem;
                }

                span.caption {
                    margin-left: 1rem;
                    box-sizing: border-box;
                    display: inline-block;
                    width: calc(100% - 5rem);
                    vertical-align: top;
                    margin-top: 0.5rem;
                    font: 800 1.25rem/1.0rem Lato, sans-serif;
                    border-bottom: 0.0625rem solid #888;
                    padding-bottom: 0.5rem;
                }
            }

            h4 {
                margin-bottom: 0;

                span.caption {
                    margin-left: 4rem;
                    box-sizing: border-box;
                    display: inline-block;
                    width: calc(100% - 5rem);
                    vertical-align: top;
                    margin-top: 0.5rem;
                    font: 800 1rem/1.0rem Lato, sans-serif;
                    border-bottom: 0.0625rem solid #ccc;
                    padding-bottom: 0.25rem;
                }
            }

            p {
                margin-left: 4rem;
                box-sizing: border-box;
                display: inline-block;
                width: calc(100% - 5rem);
                margin-top: 0.5rem;
                font: 400 0.875rem/0.875rem Lato, sans-serif;

                &:empty {
                    display: none;
                }
            }

            table {
                width: calc(100% - 5rem);
                margin-left: 4rem;

                tr {
                    th {
                        text-align: left;
                        font: 800 0.75rem/1.0rem Lato, sans-serif;
                        white-space: nowrap;
                    }

                    td {
                        font: 400 0.75rem/1.0rem Lato, sans-serif;

                        &:empty::after {
                            content: "N/A";
                            color: #aaa;
                        }
                    }
                }
            }

            table + table {
                border-top: 0.0625rem solid #ccc;
                margin-top: 0.25rem;
                padding-top: 0.25rem;
            }
        }
    }

    &#dialog-upload-files {
        overflow-x: hidden;
        overflow-y: auto;
        text-align: center;
        color: black;
        font-family: 'Lato', sans-serif;
        margin: auto;
        width: 35rem;
        min-width: 20rem;
        max-width: 100%;

        input#input-choose-files {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

        .upload-zone {
            margin: auto;
            max-width: 100%;
            min-width: 20rem;
            width: 100%;
            box-sizing: border-box;

            label.drop-area {
                background-color: #ffe9f0;
                display: inline-block;
                border: 0.125rem dotted black;
                cursor: pointer;
                margin: auto;
                padding: 0.5rem;
                max-width: 100%;
                min-width: 20rem;
                width: 100%;
                box-sizing: border-box;

                .drop-area-header {
                    font-size: 2em;
                    font-weight: 700;
                    padding: 1.0rem;
                    padding-top: 0;
                }

                .drop-area-caption {
                    font-size: 1.1em;
                    font-weight: 250;
                }
            }

            label.drop-preview-message {
                cursor: pointer;
                display: none;

                span.preview-message {
                    color: blue;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            table.drop-preview-table {
                width: 100%;

                .drop-preview-header {
                    font-weight: 700;

                    .header-file-name {
                        text-align: left;
                    }

                    .header-file-size {
                        text-align: right;
                    }
                }

                .drop-previews {
                    .drop-preview {
                        cursor: pointer;

                        .file-name {
                            text-align: left;
                        }

                        .file-size {
                            text-align: right;
                        }

                        .drop-preview-remove-file {
                            display: none;

                            &:hover {
                                display: inline;
                            }
                        }

                        &:hover {
                            background-color: #ffb6c1;
                        }
                    }
                }
            }
        }
    }

    &#dialog-float-explorer {
        > .client {
            padding: 0;
        }

        ol.tab-panels {
            li.tab-panel.active {
                position: relative;
                padding: 0.5rem;
            }
        }

        table {
            border-spacing: 0.125rem;

            tbody {
                tr {
                    td {
                        font: 1rem/normal 'inconsolata', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
                        height: 1.25rem;
                        padding: 0.125rem;

                        label {
                            position: relative;
                            cursor: pointer;
                            padding: 0.125rem;

                            input {
                                background: transparent;
                                border: none;
                                bottom: 0;
                                cursor: pointer;
                                display: inline-block;
                                height: 100%;
                                left: 0;
                                opacity: 0;
                                outline: none;
                                position: absolute;
                                right: 0;
                                top: 0;
                                width: 100%;

                                  & + span::after {
                                    content: '0';
                                  }

                                &:checked {
                                  & + span::after {
                                    content: '1';
                                  }
                                }
                            }
                        }
                    }

                    &:first-child:last-child {
                        td {
                            border-top: 0.8125rem solid white;
                            border-bottom: 0.8125rem solid white;
                        }
                    }
                }
            }
        }

        .sign {
            background-color: #ababd6;
            border-color: #ababd6;
        }

        .exponent {
            background-color: #ff9e9e;
            border-color: #ff9e9e;
        }

        .mantissa {
            background-color: #da9dda;
            border-color: #da9dda;
        }

        .legend {
            display: flex;
            flex-direction: row;

            .legend-item {
                flex: 1 1 33%;
                text-align: center;

                .box {
                    display: inline-block;
                    width: 0.5rem;
                    height: 0.5rem;
                    margin-right: 0.5rem;
                }

                span {
                    font: 400 0.75rem Lato;
                }
            }
        }

        .calculation {
            padding-top: 1rem;
            padding-bottom: 0.5rem;
            text-align: center;

            span {
                background: transparent;
                margin-right: 0.5rem;
            }

            span.super {
                font-size: 0.75rem;
                position: relative;
                top: -0.5rem;
            }

            span.left,
            span.exponent,
            span.leading,
            span.bias,
            span.two {
                margin-right: 0;
            }

            span.minus {
                margin-left: 0.5rem;
            }

            span.sign,
            span.exponent,
            span.mantissa {
                color: black;
                border-bottom-width: 0.1875rem;
                border-bottom-style: double;
            }

            & + .normalization {
                display: block;
                font: 800 0.75rem Lato;
                text-align: center;

                .denormalized {
                    font-style: italic;
                }
            }
        }

        input {
            box-sizing: border-box;
            font: 0.75rem/1.25rem 'inconsolata', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
            width: 100%;
        }

        p {
            display: block;
            font: 0.75rem/1.25rem 'inconsolata', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
            margin: 0;
            padding: 0;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &#dialog-copy-file {
        overflow-x: hidden;
        overflow-y: auto;
        color: black;
        font-family: 'Lato', sans-serif;
        margin: auto;
        width: 35rem;
        min-width: 20rem;
        max-width: 100%;
        text-align: center;

        h2 {
            text-align: left;
        }

        .file-list {
            height: 20rem;
            margin-top: 0.25rem;
            overflow: auto;
            text-align: left;
            width: 100%;

            ol {
                margin: 0;
            }
        }
    }
}

.separator {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex: 0 0 0.25rem;

    &.vertical {
        width: 0.25rem;
        cursor: ew-resize;
    }

    &.horizontal {
        height: 0.25rem;
        cursor: ns-resize;
    }

    &:hover {
        background-color: #f3caff;
    }
}

.draggable-plane {
    position: absolute;
    z-index: 999999999999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
